<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      <h2>Store | About</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
      <img src="assets/logo_snack_hub.png"/>
      <ion-card-header>
        <ion-card-subtitle>SnackHub Information</ion-card-subtitle>
        <ion-card-title>#SnackHub</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <b>#SnackHub</b> is a new norm <b>"tambayan"</b> for <b>Olongapenos and Zambalenos.</b><br>
        It's a wholesome street and modern food style snack corner.<br>
        <b>#SnackHub</b> is a franchise-based food cart with a colorful and fun-vibes ambiance and design.
      </ion-card-content>
    </ion-card>
    
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/logo_snack_hub.png"/>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          SnackHub - Tambayan, Meryenda atbp.<br>
          <b>Gmail:</b> snackhub.atbp@gmail.com
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/logo_snack_hub.png"/>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <b>Location:</b> No. 11, Dela Cuz Drive, East Tapinac, 2200 Olongapo City<br>
          <b>Store Hours:</b> 10:00 AM - 9:00 PM<br>
          <b>Contact #:</b> 0966-723-1178
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
